{% extends "base.html" %}
{% block page_content %}      
{% load crispy_forms_tags %}
{% include "messages.html" %} 

<!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="{% url 'account:register' %}">Create an account</a>.</p>
</div>

{% endblock %}