{% extends 'base.html' %}
{% block page_content %}
{% load crispy_forms_tags %}

{% include "messages.html" %} 
<div class="container py-5">
	<h1>Registration</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">By signing up, you agree to our Terms of service.</p>
	<p class="text-center">If you already have an account, <a href="{% url 'account:login' %}">login</a> instead.</p>
</div>

{% endblock %}