{% extends 'base.html' %}
{% load static %}

{% block styles_css %}
    <link rel="stylesheet" href="{% static 'MyAppointmentBookingSystem/css/index.css' %}">
{% endblock %}

{% block page_content %}
{% include "messages.html" %}
<div class="main">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'MyAppointmentBookingSystem/img/clinic.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'MyAppointmentBookingSystem/img/covid-reminder.jpg' %}" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'MyAppointmentBookingSystem/img/ambulance.jpg' %}" alt="Third slide">
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    <div>
      {% if user.is_authenticated %}
          <h4>Dear, {{user.username}}</h4>
      {% endif %}
      <h2 style="text-align: center;">Welcome to our health appointment booking system 👋 - MyAppointment.</h2>
    </div>

  <div class="container">
    <div class="row">
      <!-- 1st Card -->
        <div class="col-sm-4 py-5">
          <div class="card">
            <a href="#">
              <img src="{% static 'MyAppointmentBookingSystem/img/youngpeople.jpg'%}" class="card-img-top" alt="Personal-Health">
            </a>
              <div class="card-body h-100">
              <h5 class="card-title">Personal Health</h5>
              <p class="card-text">Manage your appointment here.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="">Book Appointment</a></li>
              <li class="list-group-item"><a href="">Reschedule Appointment</a></li>
              <li class="list-group-item"><a href="">Cancel Appointment</a></li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Access all services</a>
            </div>
          </div>
        </div>  
        <!-- 2nd Card -->
        <div class="col-sm-4 py-5">
          <div class="card">
            <a href="#">
              <img src="{% static 'MyAppointmentBookingSystem/img/clinic-1.jpg'%}" class="card-img-top" alt="Directories">
            </a>
            <div class="card-body h-100">
              <h5 class="card-title">Directories</h5>
              <p class="card-text">Find your way around clinics here.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="">Nearby Clinic & Hospital</a></li>
              <li class="list-group-item"><a href="">Search Specialist Clininc</a></li>
              <li class="list-group-item"><a href="">Covid-19 Vaccination Centre</a></li>
            </ul>      
          </div>
        </div>
        <!-- 3rd Card -->
        <div class="col-sm-4 py-5">
          <div class="card">
            <a href="#">
              <img src="{% static 'MyAppointmentBookingSystem/img/52920.jpg'%}" class="card-img-top" alt="Health-Articles">
            </a>
            <div class="card-body h-100">
              <h5 class="card-title">Live Healthy</h5>
              <p class="card-text">Health Articles</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="">Medical Costs & Financing</a></li>
              <li class="list-group-item"><a href="">Health Articles & Programmes</a></li>
            </ul>          
          </div>
        </div> 
    </div>
  </div>
</div>
{% endblock %}