.carousel .carousel-item {
  height: 450px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: auto;
  max-width: 100%;
  display: block;
}

.card-img-top {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
