<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand bg-dark text-white font-weight-bold" href="{% url 'MyAppointmentBookingSystem:index' %}">Home</a>
		</div>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		{% if user.is_authenticated %}
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link bg-dark text-white font-weight-bold" href="">Patient Record Management</a>
				</li>
				<li class="nav-item">
					<a class="nav-link bg-dark text-white font-weight-bold" href="">Manage Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-danger text-white font-weight-bold" href="{% url 'account:logout' %}">Logout</a>
				</li>

				{% else %}

				<li class="nav-item">
					<a class="btn btn-primary text-white font-weight-bold" href="{% url 'account:login' %}">Login</a></button>
					<a class="btn btn-primary text-white font-weight-bold" href="{% url 'account:register' %}">Register</a></button>
				</li>
			</ul>
		</div>
		{% endif %}
	</div>
</nav>
